/* БЕГУЩАЯ СТРОКА */
#mail {
    height: 1.2vw;
    position: relative;
    top: 1.3vw;
    left: 1.5vw;
    width: 20.8vw;
    overflow: hidden; /* Скрываем текст, который выходит за пределы контейнера */
}

#order {
    position: absolute; /* Делаем позицию абсолютной для анимации */
    white-space: nowrap; /* Запрещаем перенос строк */
    animation: scroll 85s linear infinite; /* Запускаем анимацию */
}

@keyframes scroll {
    0% {
        transform: translateX(0%); /* Начинаем с правой стороны */
    }
    100% {
        transform: translateX(-100%); /* Заканчиваем за левой стороной */
    }
}

/* ПОВОРАЧИВАЮЩИЕСЯ ПЛЮСЫ */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(90deg);
    }
    75% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

#plus2 {
    animation: rotate 2s infinite; /* 2s - продолжительность одного цикла анимации */
}

@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(-90deg);
    }
    75% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}

#plus1 {
    animation: rotate2 2s infinite; /* 2 секунды для полного цикла анимации */
    transform-origin: center; /* Устанавливаем точку вращения в центр элемента */
}

/* ПЕЧАТНАЯ МАШИНКА */
@keyframes typing {
    0% { width: 0; }
    10% { width: 100%; }
    20% { width: 100%; }
    30% { width: 0; }
    40% { width: 100%; }
    50% { width: 100%; }
    60% { width: 0; }
    70% { width: 100%; }
    90% { width: 100%; }
    100% { width: 0; }
}

@keyframes blink {
    0%, 100% { border-color: transparent; }
    50% { border-color: black; }
}

#pay .text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid black;
    animation: typing 6s steps(10, end) infinite, blink 0.75s step-end infinite;
}

#pay .text::after {
    content: 'ПОЖАЛУЙСТА';
    animation: changeText 6s steps(1, end) infinite;
}

@keyframes changeText {
    0%, 30% { content: 'ПОЖАЛУЙСТА'; }
    30%, 60% { content: 'ЭТО СРОЧНО'; }
    60%, 100% { content: 'ПЛАЧУ 3Х'; }
}
/* ЗАМЕНА КВАДРАТИКОВ ДЕКОР */
@keyframes changeBackground {
    0% {
        background-image: url(../images/decor1.svg);
    }
    25% {
        background-image: url(../images/decor2.svg);
    }
    50% {
        background-image: url(../images/decor3.svg);
    }
    75% {
        background-image: url(../images/decor2.svg);
    }
    100% {
        background-image: url(../images/decor1.svg);
    }
}
#decor1 {
    animation: changeBackground 1.5s infinite steps(1);
}
/* АНИМАЦИЯ ЭЛЕМЕНТОВ */
@keyframes backgroundChange {
    0% {
        background-image: url(../images/element1.svg);
    }
    50% {
        background-image: url(../images/element1a.svg);
    }
    100% {
        background-image: url(../images/element1.svg);
    }
}

#element1 {
    animation: backgroundChange 1s infinite steps(1);
}
#element4m {
    animation: backgroundChange 1s infinite steps(1);
}
/* ЗАДАЧА ЦЕХУ ГЛИТЧ */
@keyframes glitch {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
/* БЕГУЩАЯ СТРОКА ИЗ КАМНЕЙ */
@keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
}
/* ЭЛЕМЕНТ 2 СЛАЙДЕРЫ ДЕСКТОП*/
@keyframes slide1 {
    0% {
        top: 3vw; /* Начальная позиция */
    }
    50% {
        top: 6.6vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 3vw; /* Возврат в начальную позицию */
    }
}
@keyframes slide2 {
    0% {
        top: 6.6vw; /* Начальная позиция */
    }
    50% {
        top: 3.5vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 6.6vw; /* Возврат в начальную позицию */
    }
}
@keyframes slide3 {
    0% {
        top: 7.2vw; /* Начальная позиция */
    }
    50% {
        top: 5.5vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 7.2vw; /* Возврат в начальную позицию */
    }
}
@keyframes slide4 {
    0% {
        top: 5vw; /* Начальная позиция */
    }
    50% {
        top: 7vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 5vw; /* Возврат в начальную позицию */
    }
}
@keyframes slide5 {
    0% {
        top: 5vw; /* Начальная позиция */
    }
    50% {
        top: 3vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 5vw; /* Возврат в начальную позицию */
    }
}
@keyframes slide6 {
    0% {
        top: 6vw; /* Начальная позиция */
    }
    50% {
        top: 4.5vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 6vw; /* Возврат в начальную позицию */
    }
}
/* ЭЛЕМЕНТ 2 СЛАЙДЕРЫ МОБИЛКА*/
@keyframes slide1m {
    0% {
        top: 7vw; /* Начальная позиция */
    }
    50% {
        top: 12.6vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 7vw; /* Возврат в начальную позицию */
    }
}
@keyframes slide2m {
    0% {
        top: 15.6vw; /* Начальная позиция */
    }
    50% {
        top: 8vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 15.6vw; /* Возврат в начальную позицию */
    }
}
@keyframes slide3m {
    0% {
        top: 10vw; /* Начальная позиция */
    }
    50% {
        top: 12vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 10vw; /* Возврат в начальную позицию */
    }
}
@keyframes slide4m {
    0% {
        top: 10vw; /* Начальная позиция */
    }
    50% {
        top: 16vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 10vw; /* Возврат в начальную позицию */
    }
}
@keyframes slide5m {
    0% {
        top: 6.6vw; /* Начальная позиция */
    }
    50% {
        top: 9vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 6.6vw; /* Возврат в начальную позицию */
    }
}
@keyframes slide6m {
    0% {
        top: 12vw; /* Начальная позиция */
    }
    50% {
        top: 15vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 12vw; /* Возврат в начальную позицию */
    }
}
/* КВАДРАТНЫЕ СЛАЙДЕРЫ ДЕСКТОП */
@keyframes squareslide1 {
    0% {
        top: 5.5vw; /* Начальная позиция */
    }
    50% {
        top: 7vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 5.5vw; /* Возврат в начальную позицию */
    }
}
@keyframes squareslide2 {
    0% {
        top: 5.6vw; /* Начальная позиция */
    }
    50% {
        top: 3.8vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 5.6vw; /* Возврат в начальную позицию */
    }
}
@keyframes squareslide3 {
    0% {
        top: 7.2vw; /* Начальная позиция */
    }
    50% {
        top: 6.5vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 7.2vw; /* Возврат в начальную позицию */
    }
}
@keyframes squareslide4 {
    0% {
        top: 6vw; /* Начальная позиция */
    }
    50% {
        top: 7.3vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 6vw; /* Возврат в начальную позицию */
    }
}
@keyframes squareslide5 {
    0% {
        top: 4.5vw; /* Начальная позиция */
    }
    50% {
        top: 2.9vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 4.5vw; /* Возврат в начальную позицию */
    }
}
@keyframes squareslide6 {
    0% {
        top: 6vw; /* Начальная позиция */
    }
    50% {
        top: 4.9vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 6vw; /* Возврат в начальную позицию */
    }
}
@keyframes squareslide7 {
    0% {
        top: 7.3vw; /* Начальная позиция */
    }
    50% {
        top: 6.8vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 7.3vw; /* Возврат в начальную позицию */
    }
}
/* КВАДРАТНЫЕ СЛАЙДЕРЫ МОБИЛКА */
@keyframes squareslide1m {
    0% {
        top: 12vw; /* Начальная позиция */
    }
    50% {
        top: 15vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 12vw; /* Возврат в начальную позицию */
    }
}
@keyframes squareslide2m {
    0% {
        top: 11vw; /* Начальная позиция */
    }
    50% {
        top: 8vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 11vw; /* Возврат в начальную позицию */
    }
}
@keyframes squareslide3m {
    0% {
        top: 15vw; /* Начальная позиция */
    }
    50% {
        top: 13.2vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 15vw; /* Возврат в начальную позицию */
    }
}
@keyframes squareslide4m {
    0% {
        top: 12vw; /* Начальная позиция */
    }
    50% {
        top: 15vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 12vw; /* Возврат в начальную позицию */
    }
}
@keyframes squareslide5m {
    0% {
        top: 8.5vw; /* Начальная позиция */
    }
    50% {
        top: 6vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 8.5vw; /* Возврат в начальную позицию */
    }
}
@keyframes squareslide6m {
    0% {
        top: 9.6vw; /* Начальная позиция */
    }
    50% {
        top: 13.5vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 9.6vw; /* Возврат в начальную позицию */
    }
}
@keyframes squareslide7m {
    0% {
        top: 15vw; /* Начальная позиция */
    }
    50% {
        top: 13vw; /* Позиция внизу (3.9vw + 4vw) */
    }
    100% {
        top: 15vw; /* Возврат в начальную позицию */
    }
}