/* БЕГУЩАЯ СТРОКА */
#mail {
    height: 1.2vw;
    position: relative;
    top: 1.3vw;
    left: 1.5vw;
    width: 20.8vw;
    overflow: hidden;
}

#order {
    position: absolute;
    white-space: nowrap; 
    animation: scroll 85s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* ПОВОРАЧИВАЮЩИЕСЯ ПЛЮСЫ */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(90deg);
    }
    75% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

#plus2 {
    animation: rotate 2s infinite; /* 2s - продолжительность одного цикла анимации */
}

@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(-90deg);
    }
    75% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}

#plus1 {
    animation: rotate2 2s infinite; 
    transform-origin: center;
}

/* ПЕЧАТНАЯ МАШИНКА */
@keyframes typing {
    0% { width: 0; }
    10% { width: 100%; }
    20% { width: 100%; }
    30% { width: 0; }
    40% { width: 100%; }
    50% { width: 100%; }
    60% { width: 0; }
    70% { width: 100%; }
    90% { width: 100%; }
    100% { width: 0; }
}

@keyframes blink {
    0%, 100% { border-color: transparent; }
    50% { border-color: black; }
}

#pay .text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid black;
    animation: typing 6s steps(10, end) infinite, blink 0.75s step-end infinite;
}

#pay .text::after {
    content: 'ПОЖАЛУЙСТА';
    animation: changeText 6s steps(1, end) infinite;
}

@keyframes changeText {
    0%, 30% { content: 'ПОЖАЛУЙСТА'; }
    30%, 60% { content: 'ЭТО СРОЧНО'; }
    60%, 100% { content: 'ПЛАЧУ 3Х'; }
}

/* ЗАМЕНА КВАДРАТИКОВ ДЕКОР */
@keyframes changeBackground {
    0% {
        background-image: url(../images/decor1.svg);
    }
    25% {
        background-image: url(../images/decor2.svg);
    }
    50% {
        background-image: url(../images/decor3.svg);
    }
    75% {
        background-image: url(../images/decor2.svg);
    }
    100% {
        background-image: url(../images/decor1.svg);
    }
}
#decor1 {
    animation: changeBackground 1.5s infinite steps(1);
}

/* АНИМАЦИЯ ЭЛЕМЕНТОВ */
@keyframes backgroundChange {
    0% {
        background-image: url(../images/element1.svg);
    }
    50% {
        background-image: url(../images/element1a.svg);
    }
    100% {
        background-image: url(../images/element1.svg);
    }
}

#element1 {
    animation: backgroundChange 1s infinite steps(1);
}
#element4m {
    animation: backgroundChange 1s infinite steps(1);
}
/* ЗАДАЧА ЦЕХУ ГЛИТЧ */
@keyframes glitch {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
/* БЕГУЩАЯ СТРОКА ИЗ КАМНЕЙ */
@keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
}
/* ЭЛЕМЕНТ 2 СЛАЙДЕРЫ ДЕСКТОП*/
@keyframes slide1 {
    0% {
        top: 3vw;
    }
    50% {
        top: 6.6vw; 
    }
    100% {
        top: 3vw;
    }
}
@keyframes slide2 {
    0% {
        top: 6.6vw;
    }
    50% {
        top: 3.5vw;
    }
    100% {
        top: 6.6vw;
    }
}
@keyframes slide3 {
    0% {
        top: 7.2vw;
    }
    50% {
        top: 5.5vw;
    }
    100% {
        top: 7.2vw;
    }
}
@keyframes slide4 {
    0% {
        top: 5vw;
    }
    50% {
        top: 7vw;
    }
    100% {
        top: 5vw;
    }
}
@keyframes slide5 {
    0% {
        top: 5vw;
    }
    50% {
        top: 3vw;
    }
    100% {
        top: 5vw;
    }
}
@keyframes slide6 {
    0% {
        top: 6vw; 
    }
    50% {
        top: 4.5vw;
    }
    100% {
        top: 6vw;
    }
}
/* ЭЛЕМЕНТ 2 СЛАЙДЕРЫ МОБИЛКА*/
@keyframes slide1m {
    0% {
        top: 7vw;
    }
    50% {
        top: 12.6vw; 
    }
    100% {
        top: 7vw; 
    }
}
@keyframes slide2m {
    0% {
        top: 15.6vw;
    }
    50% {
        top: 8vw;
    }
    100% {
        top: 15.6vw; 
    }
}
@keyframes slide3m {
    0% {
        top: 10vw;
    }
    50% {
        top: 12vw;
    }
    100% {
        top: 10vw;
    }
}
@keyframes slide4m {
    0% {
        top: 10vw;
    }
    50% {
        top: 16vw;
    }
    100% {
        top: 10vw;
    }
}
@keyframes slide5m {
    0% {
        top: 6.6vw;
    }
    50% {
        top: 9vw;
    }
    100% {
        top: 6.6vw;
    }
}
@keyframes slide6m {
    0% {
        top: 12vw;
    }
    50% {
        top: 15vw;
    }
    100% {
        top: 12vw;
    }
}
/* КВАДРАТНЫЕ СЛАЙДЕРЫ ДЕСКТОП */
@keyframes squareslide1 {
    0% {
        top: 5.5vw;
    }
    50% {
        top: 7vw;
    }
    100% {
        top: 5.5vw;
    }
}
@keyframes squareslide2 {
    0% {
        top: 5.6vw;
    }
    50% {
        top: 3.8vw;
    }
    100% {
        top: 5.6vw;
    }
}
@keyframes squareslide3 {
    0% {
        top: 7.2vw;
    }
    50% {
        top: 6.5vw;
    }
    100% {
        top: 7.2vw;
    }
}
@keyframes squareslide4 {
    0% {
        top: 6vw;
    }
    50% {
        top: 7.3vw;
    }
    100% {
        top: 6vw;
    }
}
@keyframes squareslide5 {
    0% {
        top: 4.5vw; 
    }
    50% {
        top: 2.9vw;
    }
    100% {
        top: 4.5vw;
    }
}
@keyframes squareslide6 {
    0% {
        top: 6vw; 
    }
    50% {
        top: 4.9vw;
    }
    100% {
        top: 6vw;
    }
}
@keyframes squareslide7 {
    0% {
        top: 7.3vw; 
    }
    50% {
        top: 6.8vw; 
    }
    100% {
        top: 7.3vw; 
    }
}
/* КВАДРАТНЫЕ СЛАЙДЕРЫ МОБИЛКА */
@keyframes squareslide1m {
    0% {
        top: 12vw;
    }
    50% {
        top: 15vw; 
    }
    100% {
        top: 12vw;
    }
}
@keyframes squareslide2m {
    0% {
        top: 11vw;
    }
    50% {
        top: 8vw;
    }
    100% {
        top: 11vw;
    }
}
@keyframes squareslide3m {
    0% {
        top: 15vw;
    }
    50% {
        top: 13.2vw;
    }
    100% {
        top: 15vw;
    }
}
@keyframes squareslide4m {
    0% {
        top: 12vw;
    }
    50% {
        top: 15vw; 
    }
    100% {
        top: 12vw; 
    }
}
@keyframes squareslide5m {
    0% {
        top: 8.5vw; 
    }
    50% {
        top: 6vw; 
    }
    100% {
        top: 8.5vw; 
    }
}
@keyframes squareslide6m {
    0% {
        top: 9.6vw; 
    }
    50% {
        top: 13.5vw; 
    }
    100% {
        top: 9.6vw; 
    }
}
@keyframes squareslide7m {
    0% {
        top: 15vw; 
    }
    50% {
        top: 13vw;
    }
    100% {
        top: 15vw; 
    }
}
/* КАМНИ ПАДАЮТ */
@keyframes fallAndRotate {
    0% {
        transform: translateY(-100%) rotate(0deg);
    }
    100% {
        transform: translateY(500%) rotate(60deg);
    }
}
/* ГЕНЕРАЦИЯ */
@keyframes backgroundAnimation {
    0% {
        background-image: url(../images/generation.png);
    }
    25% {
        background-image: url(../images/generation1.png);
    }
    50% {
        background-image: url(../images/generation2.png);
    }
    75% {
        background-image: url(../images/generation1.png);
    }
    100% {
        background-image: url(../images/generation.png);
    }
}
#div7 {
    animation: backgroundAnimation 4s infinite;
}

/* ИНТЕРАКТИВ */
.true {
    opacity: 0;
    transition: opacity 0.01s ease-in-out;
}
.true:hover {
    opacity: 1;
}
.false {
    opacity: 0;
    transition: opacity 0.1s linear;
}
.false:hover {
    opacity: 1;
}

/* АНИМАЦИЯ ЗАМЕН ТЕКСТА */
#Ag:after {
    content: '(Ag)';
    animation: changeAg 1.2s steps(1, end) infinite;
}
@keyframes changeAg {
    0%, 70% { content: '(Ag)'; }
    70%, 75% { content: '(Hr)'; }
    75%, 80% { content: '($^)'; }
    80%, 85% { content: '(Br)'; }
    85%, 90% { content: '(!#)'; }
    90%, 95% { content: '(@*)'; }
    95%, 100% { content: '(Cd)'; }
}

#Plotnost:after {
    content: '10,5 г/см³';
    animation: changePlotnost 1.2s steps(1, end) infinite;
}
@keyframes changePlotnost {
    0%, 50% { content: '10,5 г/см³'; }
    50%, 55% { content: '1%,5 $/с&³'; }
    55%, 60% { content: '10^5 г*см#'; }
    60%, 65% { content: '7#,2 $/&м³'; }
    65%, 70% { content: '1%,9 */с^8'; }
    70%, 75% { content: '1^@ г/%м³'; }
    75%, 80% { content: '%0,# %/с*³'; }
    80%, 100% { content: '10,5 г/см³'; }
}

#Plav:after {
    content: '961,93 °С';
    animation: changePlav 1.2s steps(1, end) infinite;
}
@keyframes changePlav {
    0%, 20% { content: '961,93 °С'; }
    20%, 25% { content: '923,14 °С'; }
    25%, 30% { content: '631,18 °С'; }
    30%, 35% { content: '266,94 °С'; }
    35%, 40% { content: '537,23 °С'; }
    40%, 45% { content: '867,33 °С'; }
    45%, 50% { content: '195,46 °С'; }
    50%, 100% { content: '961,93 °С'; }
}

#Kyb:after {
    content: '4,086';
    animation: changeKyb 1.2s steps(1, end) infinite;
}
@keyframes changeKyb {
    0%, 20% { content: '4,086'; }
    20%, 25% { content: '3,!2&'; }
    25%, 30% { content: '2,7$4'; }
    35%, 40% { content: '9,&&%'; }
    45%, 50% { content: '5,6$*'; }
    50%, 55% { content: '1,5%4'; }
    55%, 60% { content: '7,*9#'; }
    60%, 100% { content: '4,086'; }
}

#Elec:after {
    content: '+0,799';
    animation: changeElec 1.2s steps(1, end) infinite;
}
@keyframes changeElec {
    0%, 50% { content: '+0,799'; }
    55%, 60% { content: '-2,425'; }
    60%, 65% { content: '+&,24%'; }
    65%, 70% { content: '-7,231'; }
    70%, 75% { content: '+4,874'; }
    75%, 80% { content: '-6,438'; }
    80%, 85% { content: '+%,241'; }
    85%, 100% { content: '+0,799'; }
}

#Kov:after {
    content: '134 пм';
    animation: changeKov 1.2s steps(1, end) infinite;
}
@keyframes changeKov {
    0%, 70% { content: '134 пм'; }
    70%, 75% { content: '5$8 #@'; }
    75%, 80% { content: '826 &м'; }
    80%, 85% { content: '489 п#'; }
    85%, 90% { content: '371 &!'; }
    90%, 95% { content: '263 %м'; }
    95%, 100% { content: '134 пм'; }
}

#tonn:after {
    content: '500Т';
    animation: changeTonn 20s steps(1, end) infinite;
}
@keyframes changeTonn {
    0%, 5% { content: '499Т'; }
    5%, 10% { content: '500Т'; }
    10%, 15% { content: '501Т'; }
    15%, 20% { content: '502Т'; }
    20%, 25% { content: '503Т'; }
    25%, 30% { content: '504Т'; }
    30%, 35% { content: '505Т'; }
    35%, 40% { content: '506Т'; }
    40%, 45% { content: '507Т'; }
    45%, 50% { content: '508Т'; }
    50%, 55% { content: '509Т'; }
    55%, 60% { content: '510Т'; }
    60%, 65% { content: '511Т'; }
    65%, 70% { content: '512Т'; }
    70%, 75% { content: '513Т'; }
    75%, 80% { content: '514Т'; }
    80%, 85% { content: '515Т'; }
    85%, 90% { content: '516Т'; }
    90%, 95% { content: '517Т'; }
    95%, 100% { content: '518Т'; }
}

#timer:after {
    content: '3:59:21';
    animation: changeTimer 20s steps(1, end) infinite;
}
@keyframes changeTimer {
    0%, 5% { content: '3:59:21'; }
    5%, 10% { content: '3:59:20'; }
    10%, 15% { content: '3:59:19'; }
    15%, 20% { content: '3:59:18'; }
    20%, 25% { content: '3:59:17'; }
    25%, 30% { content: '3:59:16'; }
    30%, 35% { content: '3:59:15'; }
    35%, 40% { content: '3:59:14'; }
    40%, 45% { content: '3:59:13'; }
    45%, 50% { content: '3:59:12'; }
    50%, 55% { content: '3:59:11'; }
    55%, 60% { content: '3:59:10'; }
    60%, 65% { content: '3:59:09'; }
    65%, 70% { content: '3:59:08'; }
    70%, 75% { content: '3:59:07'; }
    75%, 80% { content: '3:59:06'; }
    80%, 85% { content: '3:59:05'; }
    85%, 90% { content: '3:59:04'; }
    90%, 95% { content: '3:59:03'; }
    95%, 100% { content: '3:59:02'; }
}

#speed:after {
    content: '1Т/CЕК';
    animation: changespeed 2.5s steps(1, end) infinite;
}
@keyframes changespeed {
    0%, 50% { content: '1Т/CЕК'; }
    50%, 60% { content: '1.5Т/CЕК'; }
    60%, 80% { content: '1.3Т/CЕК'; }
    80%, 90% { content: '1.2Т/CЕК'; }
    90%, 95% { content: '0.9Т/CЕК'; }
    90%, 100% { content: '0.5Т/CЕК'; }
}

/* Данные о генерации в таблице */
#Itogtime:after {
    content: '7:59:00';
    animation: changeItogtime 1.5s steps(1, end) infinite;
}
@keyframes changeItogtime {
    0%, 50% { content: '7:59:00'; }
    50%, 55% { content: '$:!1:/?'; }
    55%, 60% { content: '9:{1:}8'; }
    60%, 65% { content: '5:3%:1$'; }
    65%, 70% { content: '4:!4:#7'; }
    70%, 75% { content: '3:$1:@!'; }
    75%, 80% { content: '@:&3:&4'; }
    80%, 100% { content: '%:6$:8&'; }
}

#ves:after {
    content: '900,704Т';
    animation: changeves 1.5s steps(1, end) infinite;
}

@keyframes changeves {
    0%, 70% { content: '900,704Т'; }
    70%, 75% { content: '6#8,231Т'; }
    75%, 80% { content: '%67,1#2Т'; }
    80%, 85% { content: '4#6,2%3Т'; }
    85%, 90% { content: '%45,36#Т'; }
    90%, 95% { content: '129,58@Т'; }
    95%, 100% { content: '%18,&97Т'; }
}

#arg:after {
    content: 'ARGENTUM';
    animation: changearg 1.5s steps(1, end) infinite;
}
@keyframes changearg {
    0%, 60% { content: 'ARGENTUM'; }
    60%, 65% { content: '%GEUT$M'; }
    65%, 70% { content: '#M&ON%VM'; }
    70%, 75% { content: 'AE%E&TU#'; }
    75%, 80% { content: '$R#EN&U*'; }
    80%, 85% { content: '@&EN6U9#'; }
    85%, 90% { content: '5R*E#T%M'; }
    90%, 100% { content: 'ARGENTUM'; }
}

#dec:after {
    content: '28 ДЕКАБРЯ';
    animation: changedec 1.5s steps(1, end) infinite;
}
@keyframes changedec {
    0%, 40% { content: '28 ДЕКАБРЯ'; }

    40%, 45% { content: '2% ДЕ#АБ&Я'; }
    45%, 50% { content: '8# !ЕК@БР$'; }
    50%, 55% { content: '#8 Д&КА#РЯ'; }
    55%, 60% { content: '76 #Е@АБР&'; }
    60%, 65% { content: '*4 Д%КАБ#Я'; }
    65%, 70% { content: '1$ ДRКА$РЯ'; }

    70%, 100% { content: '28 ДЕКАБРЯ'; }
}

#h2m:after {
    content: '2 009 239$';
    animation: changeh2m 2.5s steps(1, end) infinite;
}
@keyframes changeh2m {
    0%, 5% { content: '2 009 239$'; }
    5%, 10% { content: '2 010 240$'; }
    10%, 15% { content: '2 125 255$'; }
    15%, 20% { content: '2 235 270$'; }
    20%, 25% { content: '2 345 275$'; }
    25%, 30% { content: '2 455 280$'; }
    30%, 35% { content: '2 565 285$'; }
    35%, 40% { content: '2 675 290$'; }
    40%, 45% { content: '2 785 295$'; }
    45%, 50% { content: '2 895 300$'; }
    50%, 55% { content: '2 900 305$'; }
    55%, 60% { content: '2 020 310$'; }
    60%, 65% { content: '2 140 315$'; }
    65%, 70% { content: '2 260 320$'; }
    70%, 75% { content: '2 380 325$'; }
    75%, 80% { content: '2 400 330$'; }
    80%, 85% { content: '2 510 335$'; }
    85%, 90% { content: '2 620 340$'; }
    90%, 95% { content: '2 730 345$'; }
    95%, 100% { content: '2 840 350$'; }
}